html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-header {
    background-color: #d90466;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.logo {
    height: 50px;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.main-body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/*.sidebar {
    width: 250px;*/
/*    background-color: #f72585;
*/    /*padding-top: 1rem;
    transition: transform 0.3s ease-in-out;
}*/

    .sidebar.hide {
        display: none;
    }

.content {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff;
    overflow-y: auto;
}

/* Responsive solo para mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .sidebar {
        position: absolute;
        top: 70px;
        left: 0;
        height: calc(100% - 70px);
        z-index: 1000;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease-in-out;
    }
}

.top-row {
    background-color: #f7f7f7; /* color de fondo claro */
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* coloca los links a la derecha */
    padding: 0 1.5rem;
    gap: 1.5rem; /* espacio entre elementos */
}

    .top-row a,
    .top-row .btn-link,
    .top-row span {
        text-decoration: none;
        white-space: nowrap;
        color: #333; /* color de texto */
    }

        .top-row a:hover,
        .top-row .btn-link:hover {
            text-decoration: underline;
        }
