@inherits LayoutComponentBase

<div class="main-layout">
    <header class="main-header">

        <button class="menu-toggle" @onclick="ToggleNavMenu">
            <i class="bi bi-list"></i>
        </button>
        <h1 class="titulo">Admin.</h1>
        <div class="logo-contenedor">
            <img src="img/logo-onlyou.png" alt="Onlyou Logo Grande" class="logo-central" />
        </div>

    </header>

    <div class="main-body">
        <div class="@SidebarCssClass">
            <NavMenu />
        </div>

        <main class="content">
            @Body
        </main>
    </div>
</div>

@code {
    private bool menuVisible = true;

    private string SidebarCssClass => menuVisible ? "sidebar show" : "sidebar hide";

    private void ToggleNavMenu()
    {
        menuVisible = !menuVisible;
    }
}
