@page "/proveedores-archivados"
@using Onlyou.Client.Shared
@using Onlyou.Shared.DTOS.Proveedor
@inject IHttpServicios http
@inject NavigationManager nav
@inject SweetAlertService swal
@attribute [Authorize(Roles = "Admin")]

<h3>Proveedores Archivados</h3>

<TablaArchivados TDTO="GetProveedorDTO"
				 Items="proveedorArchivados"
				 Columnas="columnas"
				 OnRestaurar="RestaurarProveedor"
				 OnEliminar="EliminarProveedor" />

@code {
	private List<GetProveedorDTO> proveedorArchivados = new();
	private List<string> columnas = new() { "Nombre" };

	protected override async Task OnInitializedAsync()
	{
		// consume endpoint del server y devuelve los archivados
		proveedorArchivados = (await http.Get<List<GetProveedorDTO>>("api/Proveedores/Archivados")).Respuesta ?? new();
	}

	private async Task RestaurarProveedor(GetProveedorDTO proveedorDTO)
	{
		await http.Put<object>($"api/Proveedores/Archivados/{proveedorDTO.Id}", null);
		await swal.FireAsync("Exito", "Proveedor Restaurado exitosamente", SweetAlertIcon.Success);
		proveedorArchivados.Remove(proveedorDTO);
		StateHasChanged();
	}

	private async Task EliminarProveedor(GetProveedorDTO proveedorDTO)
	{

		var confirm = await swal.FireAsync(new SweetAlertOptions
		{
			Title = "Confirmar",
			Text = $"¿Seguro que deseas Eliminar el Proveedor {proveedorDTO.Nombre}?",
			Icon = SweetAlertIcon.Question,
			ShowCancelButton = true,
			ConfirmButtonText = "Sí",
			CancelButtonText = "Cancelar"
		});

		if (!confirm.IsConfirmed)
		{
			return;
		}

		var respuesta = await http.Delete($"api/Proveedores/EliminarProveedor/{proveedorDTO.Id}");
		if (respuesta.Error)
		{
			var mensaje = await respuesta.ObtenerErrorAsync();
			await swal.FireAsync("Error", mensaje, SweetAlertIcon.Warning);
			return;
		}
		await swal.FireAsync("Éxito", "Proveedor eliminado correctamente.", SweetAlertIcon.Success);

	}
}
