@page "/logout"
@using Onlyou.Client.Autorizacion
@using Onlyou.Client.Autorizacion
@inject ILoginService loginService
@inject IJSRuntime js

<div class="text-center">
    <AuthorizeView Context="authContext">
    <p>Hola, @authContext.User.Identity?.Name</p>
    </AuthorizeView>
    <p>¿Estás seguro de que deseas cerrar sesión?</p>

    <div class="d-flex justify-content-center gap-3">
        <button class="btn btn-onlyou-secondary" @onclick="CerrarModal">Cancelar</button>
        <button class="btn btn-onlyou-danger" @onclick="CerrarSesion">Cerrar Sesión</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task CerrarSesion()
    {
        await loginService.Logout();
        await OnClose.InvokeAsync();
    }

    private async Task CerrarModal()
    {
        await OnClose.InvokeAsync();
    }
}